[submodule "WUTA-FSD"]
	path = WUTA-FSD
	url = https://github.com/zhuzijian234/WUTA-FSD.git
	branch = 小登测试
[submodule "WUTA-SIM/perception_simulation"]
	path = WUTA-SIM/perception_simulation
	url = https://github.com/GaoMingHa0/track_loader.git
	branch = main
[submodule "WUTA-SIM/vehicle_model"]
	path = WUTA-SIM/vehicle_model
	url = https://github.com/707GLobal/vehicle_model.git
	branch = main
[submodule "WUTA-SIM/can_simulator"]
	path = WUTA-SIM/can_simulator
	url = https://github.com/707GLobal/can_simulator.git
	branch = main
[submodule "WUTA-SIM/wuta-ins-simulator"]
	path = WUTA-SIM/wuta-ins-simulator
	url = https://github.com/Litieyue/wuta-ins-simulator.git
	branch = main
